#main {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 5vh;
}

#title-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#img-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#image {
  width: 80vw
}
